@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
  font-style: normal;
  list-style: none;
}
.main{
  height: 100vh;
  width: 100vw;
  background-color: rgba(5, 5, 5, 1);
  padding: 0 6%;
}
.nav-logo{
  display: flex;
  justify-content: space-between;
  width: 130px;
  border-radius: 1px;
  color:rgba(243, 174, 159, 1) ;
  font-weight: 700;
  font-size: 38px;
}
.logo-2{
  color:rgba(255, 255, 255, 1) ;
  font-weight: 300;
}
ul{
  font-family: "Open Sans", serif;
  color: rgba(255, 255, 255, 1);
}
.nav-login-btn button{
  width: 182px;
  height: 47px;
  border-radius: 200px;
  background-color: rgba(243, 174, 159, 1);
  color: black;
}
.navbar{
  display: flex;
justify-content: space-between;
align-items: center;
 padding-top: 12px;
}
.nav-cont1{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul{
  width: 382px;
  display: flex;
  justify-content: space-around;
}
li{
  display: flex;
  justify-content: space-around;
gap: 12px;
}
.chats{
  margin-top: 12px;
  display: flex;
justify-content: space-between;
  height: 80%;
  width: 100%;
}
.allmessages{
  background-color: rgba(24, 24, 24, 1);
  height: 100%;
  width: 30%;
  padding: 0 30px;
  border-radius: 10px;
}
.particularmsg{
  position: relative;
  background-color: rgba(24, 24, 24, 1);
  border-radius: 10px;
  height: 100%;
  width: 68%;
}
.allyourchats{
  width: 100%;
  height: 340px;
}
.heading{
  margin-top:25px ;
  font-weight: 400;
  font-size: 26px;
  color:rgba(255, 255, 255, 1) ;
  opacity: 70%;
}
.chat-images{
  margin-top: 20px;
  width: 100%;
  height: 55px;
  background: rgba(243, 174, 159, 1);
  border-radius: 10px;
  font-family: "Open Sans", serif;
  font-weight:600;
  font-size: 18px;  
}
.headingcontent{
  margin-top: 12px;
  font-weight: 400;
  font-size: 18px;
  color: rgba(255, 255, 255, 1);
  opacity: 70%;
}
.cont1{
  margin-top: 25px;
  display: flex;
  padding-top: 5px;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 55px;
  border-radius: 150px;
  background: rgba(47, 47, 47, 1);
}
.cont1img{
  margin-left: 7px;
}
.cont1name{
   color:  rgba(255, 255, 255, 1);
font-family: Open Sans;
font-weight: 600;
font-size: 16px;
}
.cont1lastmsg{
  color:rgba(127, 135, 129, 1) ;
  font-weight: 400;
  size: 14px;
}
.botdetails{
  font-weight: 400;
  font-size: 22px;
  opacity: 80%;
  color: rgba(255, 255, 255, 1);
}
hr{
  margin-top: 30px;
}
.bot{
  margin-top: 25px;
  display: flex;
  gap: 10px;
}
.msgtop{
  display: flex;
  border-radius: 10px;
  padding: 0 12px;
  justify-content: space-between;
  background: rgba(47, 47, 47, 1);
height: 74px;
}
.userdetails{
  display: flex;
  gap: 15px;
  align-items: center;
}
.back-container,.delete-container{
  display: flex;
  gap: 7px;
}
.back,.delete{
  font-weight: 400;
  size: 18px;
  color: rgba(255, 255, 255, 1);
}
.useraction{
  display: flex;
  align-items: center;
  gap: 15px;
}
.input{
  position: absolute;
  display: flex;
  bottom: 20px;
  gap: 10px;
  right: 0;
  left: 0;
  padding: 0 12px;
}
.userinput{
  width: 100%;
  height: 50px;
  border-radius: 70px;
  background-color: rgba(47, 47, 47, 1);
  padding-left: 15px;
  color: rgba(127, 135, 129, 1);
}
.send{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: rgba(243, 174, 159, 1);
}
.email{
  font-weight: 400;
  font-size: 18px;
  color: rgba(255, 255, 255, 1);
}
.contact{
  display: flex;
  gap: 15px;
}
.footer{
  display: flex;
  margin-top: 10px;
  align-items: center;
  justify-content: space-between;
}
.message{
  max-width: 60%;
  padding: 10px;
}
.chat{
  display: flex;
  flex-direction: column;
  gap: 10px; 
  padding: 10px;
  overflow-y: auto; 
}
.user1 {
  align-self: flex-start; 
  background-color:rgba(47, 47, 47, 1);
  color: rgba(255, 255, 255, 1);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.user2{
  align-self: flex-end; 
  background-color:rgba(243, 174, 159, 1);
  color:rgba(5, 5, 5, 1);
  padding: 10px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
}
@media screen and (max-width: 800px) {
  .particularmsg {
    display: none;
    width: 100%; 
  }
  .particularmsg.mobileactive {
    display: block;
  }
  .allmessages{
    width: 100%; 
    height: 100%; 
  }
  .allmessages.mobileactive{
    display: none;
  }
  .main{
    min-height: 100vh;
  }
  ul{
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .footerlogo{
    display: none;
  }
  .contact{
  margin: auto;
  }
}
@media screen and (max-width: 425px){
  .contact{
    display: block;
    }
     .cont1lastmsg{
      font-size:10px;
    }
    .nav-login-btn button{
      width: 90px;
    }
    .cont1name {
      font-size: 12px;
  }
    .chat-images {
      font-size: 16px;
  }
  .bot {
       gap: 4px;
}
  .headingcontent {
     font-size: 12px;
}
.botdetails {
  font-size: 20px;
}
.heading {
  font-size: 18px;
}
.footer img{
  display: none;
}
.nav-logo {
  font-size: 33px;
}
.back-container, .delete-container {
 gap: 4px;
}
.useraction {
  gap: 4px;
  flex-direction: column;
  justify-content: center;
}

}
@media screen and (max-width: 300px){
  .botdetails {
    font-size: 16px;
  }
}